.App {
  width: 60%;
  margin: 10px auto;
}
.AppHeader {
  padding-left: 1rem;
  display: flex;
  justify-content: start;
  gap: 2em;
  align-items: center;
}
.onTopBtn {
  width: 2rem;
  height: 2rem;
  font-size: large;
  line-height: 1rem;
}

.btn {
  margin-top: 10px;
}

.postBody {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postCard {
  border: 1px solid black;
  padding: 10px;
}
